.rocket_image {
  position: absolute;
  width: 80px;
}

a {
  color:white;
  text-decoration: none;
}

.rocket_description {
  position: absolute;
  background-color: lightgrey;
  color: gray;
  text-align: center;
  display: inline-block;
  margin-left: 100px;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  z-index: 10;
  border: 1px solid gray;
  opacity: 1;
  border-radius: 5px;
}

.rocket_text {
  position: absolute;
  text-align: center;
  width: 12px;
  left: 34px;
  top: 38px;
  font-size: 8px;
  line-height: 7px;
  word-break:normal;
}

.rocket_user {
  position: absolute;
  /* top: 23px;  smol version */
  /* left: 34px;
  width: 12px;  */
  top: 20px;
  left: 32px;
  width: 17px;
  border-radius: 50%;
}

.rocket_explosion {
  position: absolute;
  width: 80px;
  z-index: 20;
}

.planet {
  position: absolute;
}

.status_text {
  position: absolute;
  bottom: 5.5px;
  left: 5.5px;
  color: lightgray;
  opacity: 1;
}

[data-theme="dark"] {
 background-color: #282828 !important;
 color: #eee;
}
[data-theme="light"] {
  background-color: #FFFAFA !important;
  color: #eee;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
input[type=checkbox]:focus {
  outline: 0;
}

.toggle {
  height: 32px;
  width: 52px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  margin: 0;
  border: 2px solid #474755;
  background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
  transition: all 0.2s ease;
}
.toggle:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}
.toggle:checked {
  border-color: #654FEC;
}
.toggle:checked:after {
  transform: translatex(20px);
}
